# This requirements were provided only for development purposes only

-e git+https://github.com/cloudify-cosmo/cloudify-dsl-parser@master#egg=cloudify-dsl-parser==3.2rc1
-e git+https://github.com/cloudify-cosmo/cloudify-rest-client@master#egg=cloudify-rest-client==3.2rc1
-e git+https://github.com/cloudify-cosmo/cloudify-plugins-common@master#egg=cloudify-plugins-common==3.2rc1
-e git+https://github.com/cloudify-cosmo/cloudify-system-tests@master#egg=cloudify-system-tests==3.2rc1
-e git+https://github.com/cloudify-cosmo/cloudify-script-plugin@master#egg=cloudify-script-plugin==3.2rc1
-e git+https://github.com/cloudify-cosmo/cloudify-cli@master#egg=cloudify-cli==3.2rc1

itsdangerous
cloudify
pyvmomi
netaddr
