# This requirements were provided only for development purposes only

https://github.com/cloudify-cosmo/cloudify-dsl-parser/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-rest-client/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-plugins-common/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-system-tests/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-script-plugin/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-cli/archive/master.zip

itsdangerous
cloudify
pyvmomi
netaddr
