-e git+https://github.com/cloudify-cosmo/cloudify-rest-client@tags/3.1rc2#egg=cloudify-rest-client==3.1a4
-e git+https://github.com/cloudify-cosmo/cloudify-plugins-common@tags/3.1rc2#egg=cloudify-plugins-common==3.1a4
-e git+https://github.com/cloudify-cosmo/cloudify-fabric-plugin@tags/1.1rc2#egg=cloudify-fabric-plugin==1.1a4
