{
  "network_test": {
    "vlan_id": 111,
    "vswitch_name": "vSwitch0",
    "switch_distributed": true
  },
  "server_test": {
    "template": "ubuntu-configured-template",
    "cpu_count": 2,
    "memory_in_mb": 2048,
    "datacenter_name": "Cloudify-Datacenter",
    "resource_pool_name": "Resources",
    "auto_placement": false,
    "networking": {
        "domain": "test.com",
        "dns_server": ["8.8.8.8"],
        "connect_networks":
        [{"name": "DMZ",
          "external": true,
          "switch_distributed": true,
          "use_dhcp": true},
         {"name": "Management",
          "external": false,
          "management": true,
          "switch_distributed": false,
          "use_dhcp": false,
          "network": "10.0.0.0/24",
          "gateway": "10.0.0.1",
          "ip": "10.0.0.2"}
        ]
    }
  },
  "storage_test": {
    "vm_name": "StorageTest",
    "storage_size": 1
  }
}